---
import DocSidebar from "../components/DocSidebar.astro";
import Layout from "./Layout.astro";
import TOC from "../components/TOC.astro";
import EditOnGithub from "../components/EditOnGithub.astro";
type Heading = {
  depth: number;
  slug: string;
  text: string;
};
const { frontmatter, headings, url } = Astro.props;
const fake: Heading[] = headings as Heading[];

const h = fake.filter((uh) => uh.depth != 1);

let isReleaseOrBlog = false;
if (url.startsWith("/releases") || url.startsWith("/blog")) {
  isReleaseOrBlog = true;
}
const showSideBar = url.startsWith("/docs");
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <div class="min-h-screen bg-background mx-auto max-w-7xl pb-32">
    <div class="mx-auto max-w-8xl px-4 sm:px-6 lg:px-4 py-8 md:py-12">
      <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-12">
        <aside class="lg:col-span-3 xl:col-span-3">
          <div
            class="lg:sticky lg:top-4 lg:max-h-[calc(100vh-2rem)] lg:overflow-y-auto lg:pb-8"
          >
            {
              isReleaseOrBlog && (
                <div>
                  <a
                    class="text-primary hover:underline"
                    href={url.startsWith("/releases") ? "/releases" : "/blog"}
                  >
                    Back To{" "}
                    {isReleaseOrBlog
                      ? url.startsWith("/releases")
                        ? "Releases"
                        : "Blog"
                      : ""}
                  </a>
                </div>
              )
            }
            {
              showSideBar && (
                <div class="mt-8">
                  <DocSidebar />
                </div>
              )
            }
          </div>
        </aside>

        <main class="docs l lg:col-span-9 xl:col-span-7 min-w-0">
          <article
            class="prose prose-a:text-accent prose-headings:text-headings prose-hr:border-b-border text-foreground/80 prose-strong:text-headings prose-li:decoration- prose-ul:marker:text-accent prose-hr:border-border prose-headings-text-accent h-full"
          >
            <slot />
          </article>
          <EditOnGithub />
        </main>

        <div class="hidden xl:block xl:col-span-2">
          <div
            class="sticky top-4 max-h-[calc(100vh-2rem)] overflow-y-auto pb-8"
          >
            <TOC headings={h} />
          </div>
        </div>
      </div>
    </div>
  </div>
  );
</Layout>
