# Dependencies
node_modules/
.pnpm-store/
.pnpm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Environment
.env
.env.local

# Build outputs
dist/
build/
.vite/
out/

# Tauri
**/src-tauri/target/
**/src-tauri/Cargo.lock
**/src-tauri/.DS_Store
**/src-tauri/.idea/
**/src-tauri/.vscode/
**/src-tauri/.cargo/
**/src-tauri/debug.log

target/

# Next.js
**/.next/
**/out/
**/.vercel

# Logs
logs/
*.log

# OS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp

# Lock files (using pnpm)
package-lock.json
yarn.lock
.zed
