
enable-pre-post-scripts=true

hoist=true
hoist-pattern[]=*

shamefully-hoist=true

strict-peer-dependencies=false

fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
registry=https://registry.npmjs.org/

save-exact=false


auto-install-peers=true


link-workspace-packages=true


shared-workspace-lockfile=true


public-hoist-pattern[]=*next*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*eslint*
