
enable-pre-post-scripts=true

hoist=true
hoist-pattern[]=*

shamefully-hoist=true

strict-peer-dependencies=false

save-exact=false


auto-install-peers=true


link-workspace-packages=true


shared-workspace-lockfile=true


public-hoist-pattern[]=*next*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*eslint*
