@import "@audexis/shared/styles";

.min-height-full {
  min-height: calc(100vh - 72px);
}

.activeButton {
  @apply !text-primary !font-medium;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
