@import "@audexis/shared/styles";
@import "tailwindcss";
@plugin '@tailwindcss/typography';
.min-height-full {
  min-height: calc(100vh - 72px);
}

.activeButton {
  @apply !text-primary !font-medium;
}
blockquote p {
  color: var(--muted-foreground) !important;
}
blockquote {
  border-color: var(--muted) !important;
}
code {
  color: var(--muted-foreground) !important;
}
