@import "@audexis/shared/styles";
@import "tailwindcss";
@plugin '@tailwindcss/typography';
.min-height-full {
  min-height: calc(100vh - 72px);
}

.activeButton {
  @apply !text-primary !font-medium;
}
