@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Reddit Sans";
  src: url("./Reddit_Sans/RedditSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable weight range */
  font-style: normal;
  font-display: swap;
}
@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.light {
  --background: #f1f1f1;
  --border: #010101;
  --foreground: #000;
  --hover: #cccccc;
  --muted: #040505;
  --muted-foreground: #65676d;

  --popover: #e2e5f0;
  --popover-foreground: #020202;

  --card: #e2e5f0;
  --card-foreground: #020202;

  --input: #6b7280;

  --primary: #eb5757;
  --primary-foreground: #e8e9e9;

  --secondary: #f4f4f4;
  --secondary-foreground: #1b1c1e;

  --accent: #f4f4f4;
  --accent-foreground: #f8fafc;

  --destructive: #ef4444;
  --radius: 0.5rem;
  --destructive-foreground: #fafafa;
}
.headhead {
  -webkit-app-region: drag;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #eb5757 #eb5757;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #eb5757;
  border-radius: 20px;
}
.dark {
  --background: #0a0a0a;
  --foreground: #f8fafc;
  --hover: #333333;
  --card: #060e14;
  --card-foreground: #f8fafc;

  --popover: #020609;
  --popover-foreground: #f8fafc;

  --primary: #eb5757;
  --primary-foreground: #e8e9e9;

  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --accent: #1e293b;
  --accent-foreground: #f8fafc;

  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;

  --border: #1e293b;
  --input: #1e293b;
  --radius: 0.5rem;
  --ring: #cbd5e1;
}
html,
body,
#root {
  background-color: var(--background);
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Reddit Sans", sans-serif;
  box-sizing: border-box;
  color: var(--foreground);
  border-color: #374151;
  outline-color: #eb5757 !important;
}
