---
import type { MarkdownInstance } from "astro";
import Layout from "../../layouts/Layout.astro";

interface Frontmatter {
  title: string;
  description: string;
  date: number;
}

const matches = import.meta.glob<MarkdownInstance<Frontmatter>>(
  "../releases/**/*.md",
  { eager: true },
);

const posts = Object.values(matches);

console.log({ posts: posts.length });
---

<Layout
  title="Release Notes"
  description="Stay updated with the latest release notes and updates for Audexis."
>
  <div class="min-h-screen py-12 flex flex-col items-center">
    <h1 class="text-headings text-4xl font-semibold mb-8 gap-4">
      Release Notes
    </h1>
    {
      posts
        .sort((a, b) => b.frontmatter.date - a.frontmatter.date)
        .map((post) => (
          <div class="px-4">
            <a
              class="text-xl text-primary underline text-start"
              href={post.url}
            >
              {post.frontmatter.title}
            </a>
          </div>
        ))
    }
  </div>
</Layout>
