@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-2px);
  }
  30% {
    transform: translateX(2px);
  }
  45% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
  90% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-vibrate {
  animation: vibrate 0.28s ease-in-out;
}
