@import "tailwindcss";

@plugin "@tailwindcss/typography";

@import "./shared.css";

@font-face {
  font-family: "Reddit Sans";
  src: url("/fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

main.docs h1,
main.docs h2,
main.docs h3,
main.docs h4,
main.docs h5,
main.docs h6 {
  color: var(--color-foreground);
}

main.docs p,
main.docs li,
main.docs span,
main.docs div {
  color: var(--color-muted-foreground);
}

html,
body {
  background-color: var(--background);
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Reddit Sans", sans-serif;
  box-sizing: border-box;
  color: var(--foreground);
  border-color: var(--border) !important;
  outline-color: var(--primary) !important;
}
:root {
  --radius: 0.5rem;
}

[data-theme="light"] {
  --background: #f1f1f1;
  --foreground: #0a0a0a;
  --hover: #e5e5e5;
  --hover-foreground: #0f172a;

  --card: #ffffff;
  --card-foreground: #1e293b;

  --popover: #f1f5f9;
  --popover-foreground: #1e293b;

  --primary: #ef3636;
  --primary-foreground: #ffffff;

  --secondary: #e2e8f0;
  --secondary-foreground: #1e293b;

  --muted: #cacccf;
  --muted-foreground: rgb(90, 87, 113);

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #cbd5e1;
  --input: #cbd5e1;

  --accent: #eb6e6e;
  --accent-foreground: #ffffff;

  --ring: #fca5a5;

  --scrollbar-track: #e5e7eb;
  --scrollbar-thumb: #eb5757;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #f1f1f1;
  --hover: #1f1f2e;
  --hover-foreground: #f1f5f9;

  --card: #1e293b;
  --card-foreground: #f8fafc;

  --popover: #1a222d;
  --popover-foreground: #f8fafc;

  --primary: #eb5757;
  --primary-foreground: #f8fafc;

  --secondary: #334155;
  --secondary-foreground: #f1f5f9;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;

  --border: #334155;
  --input: #334155;

  --accent: #eb6e6e;
  --accent-foreground: #f8fafc;

  --ring: #fca5a5;

  --scrollbar-track: #1e293b;
  --scrollbar-thumb: #eb5757;
}

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-hover: var(--hover);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}
