@import "./theme.css";

@import "./scrollbar.css";

@import "./animations.css";

@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html,
body {
  background-color: var(--background);
  width: 100%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  color: var(--foreground);
  border-color: var(--border) !important;
  outline-color: var(--primary) !important;
}
