@import "./theme.css";

@import "./scrollbar.css";

@import "./animations.css";

html,
body {
  background-color: var(--background);
  width: 100%;
  font-family: "Reddit Sans", sans-serif;
  box-sizing: border-box;
  color: var(--foreground);
  border-color: var(--border) !important;
  outline-color: var(--primary) !important;
}
