::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--scrollbar-track);
}
