:root {
  --radius: 0.5rem;
}

:not([data-theme="dark"]) {
  --background: #fff;
  --foreground: #2a2523;

  --hover: #d4d6d8;
  --hover-foreground: #2a2523;

  --card: #fafafa;
  --card-foreground: #2a2523;

  --popover: #f7f5f4;
  --popover-foreground: #2a2523;

  --primary: #c44d4d;
  --primary-foreground: #fff;

  --secondary: #e6e0de;
  --secondary-foreground: #2a2523;

  --muted: #ebe6e4;
  --muted-foreground: #7a7371;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #ddd6d4;
  --input: #ddd6d4;

  --accent: #eb6e6e;
  --accent-foreground: #ffffff;

  --ring: #eb6e6e;

  --scrollbar-track: #e6e0de;
  --scrollbar-thumb: #c44d4d;

  --primary-washed: #c44d4d1a;
  --heading: #1a1614;
}

[data-theme="dark"] {
  --heading: #ffffff;
  /* Darker than #181615, but softer than harsh pure black */
  --background: #100f0e;
  --foreground: #f1f1f1;

  --hover: #2e2926;
  --hover-foreground: #ffffff;

  /* Cards and popovers scaled down proportionally */
  --card: #181615;
  --card-foreground: #f8f7f6;

  --popover: #1f1c1a;
  --popover-foreground: #f8f7f6;

  --primary: #d65757;
  --primary-foreground: #f8fafc;

  --secondary: #272220;
  --secondary-foreground: #dcd7d4;

  --muted: #201c1a;
  --muted-foreground: #a09792;

  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;

  --border: #312c29;
  --input: #312c29;

  --accent: #eb6e6e;
  --accent-foreground: #f8fafc;

  --ring: #eb6e6e;

  --scrollbar-track: #181615;
  --scrollbar-thumb: #d65757;

  --primary-washed: #d657571a;
}
@theme {
  --color-headings: var(--heading);
  --color-border: var(--border);
  --color-hover-foreground: var(--hover-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-hover: var(--hover);
  --color-foreground: var(--foreground);
  --color-primary-washed: var(--primary-washed);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}
