---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"button"> {
  variant?: "primary" | "secondary";
  size?: "lg" | "sm" | "md" | "xl";
}

const {
  class: className,
  variant = "primary",
  size = "md",
  ...rest
} = Astro.props;
const variants: Record<string, string> = {
  primary: "bg-primary text-primary-foreground hover:bg-primary/70 rounded",
  secondary:
    "bg-secondary text-secondary-foreground rounded border border-border",
};
const sizes: Record<string, string> = {
  lg: "text-base px-6 py-3",
  md: "text-base px-3 py-2",
  xl: "px-8 py-4 tex-lg",
};
const currVariant = variants[variant];
const currSize = sizes[size];
---

<button class:list={[className, currVariant, currSize]} } {...rest}>
  <slot />
</button>
