---
interface Props {
  title: string;
  img: string;
  alt: string;
  switched: boolean;
  description: string;
}
const { title, description, img, alt, switched } = Astro.props;
---

<div
  class={`bg-primary-washed border border-primary gap-4 xl:px-20 rounded py-8 px-6 flex flex-col ${switched ? "lg:flex-row-reverse" : "lg:flex-row"} mt-12`}
>
  <div
    class={`${switched && "ml-auto"} lg:mt-12 flex flex-col w-full lg:max-w-lg wrap-break-word`}
  >
    <h3 class="text-4xl">{title}</h3>
    <span
      class="text-muted-foreground text-base mt-6 text-wrap wrap-break-word"
    >
      {description}
    </span>
  </div>
  <img
    class={`theme-img ${!switched && "ml-auto"} w-full lg:max-w-lg xl:max-w-2xl rounded-lg border border-border shadow-xl shadow-primary-washed hover:shadow-2xl transition-shadow duration-300`}
    src={img}
    alt={alt}
  />
</div>
