---
interface Props {
  showOtherPlatforms?: boolean;
}
const { showOtherPlatforms = false } = Astro.props;
---

<div class="flex flex-col">
  <a
    class="download-latest-release bg-primary text-primary-foreground hover:bg-primary/70 rounded text-base px-6 py-3"
  >
    Download Latest Release
  </a>
  {
    showOtherPlatforms && (
      <div class="mt-4 text-sm text-muted-foreground">
        <span>Available for </span>
        <a class="underline hover:text-primary" href="#" data-dmg-download-link>
          macOS
        </a>
        <span>(</span>
        <span data-latest-dmg-size>0</span>
        <span> MB)</span>
        <span> and </span>
        <a class="underline hover:text-primary" href="#" data-exe-download-link>
          Windows
        </a>
        <span> (</span>
        <span data-latest-exe-size>0</span>
        <span> MB)</span>
      </div>
    )
  }
</div>
