---
import logo from "../assets/old.svg";
import moon from "../assets/moon.svg";
import sun from "../assets/sun.svg";
import { Image } from "astro:assets";
import DownloadButton from "./DownloadButton.astro";
console.log("astro");
---

<div
  class="flex sticky z-50 px-4 top-0 backdrop-blur-3xl bg-transparent w-full h-18 py-3 lg:px-24 items-center border-b border-border"
>
  <a class="flex items-center" href="/">
    <Image loading="eager" src={logo} alt="logo" width={40} height={40} />

    <span class="px-2 text-xl font-semibold">Audexis</span>
  </a>

  <div class="gap-8 ml-4 md:flex hidden text-sm text-muted-foreground">
    <a href="/docs">Docs</a>
    <a href="/blog">Blog</a>
    <a href="/releases">Releases</a>
    <a href="https://github.com/kp-fyn/audexis">Github</a>
  </div>
  <div class="ml-auto flex items-center h-full gap-2">
    <button id="theme-toggle" class="py-2 px-2 rounded hover:bg-hover">
      <Image
        id="light"
        loading="eager"
        src={moon}
        alt="Dark mode"
        height={20}
        color={"#fff"}
        width={20}
      />
      <Image
        id="dark"
        loading="eager"
        src={sun}
        alt="Dark mode"
        height={20}
        color={"#fff"}
        width={20}
      />
    </button>
    <div class="md:block hidden">
      <DownloadButton />
    </div>
  </div>
</div>

<script is:inline>
  function showCorrectIcon(newTheme) {
    console.log("hi");
    const iconToHideId = newTheme === "light" ? "dark" : "light";
    const iconToShowId = newTheme;
    console.log(iconToHideId);

    const iconToHide = document.getElementById(iconToHideId);
    if (iconToHide) {
      iconToHide.style.display = "none";
    }
    const iconToSHow = document.getElementById(iconToShowId);
    if (iconToSHow) {
      iconToSHow.style.display = "block";
      iconToSHow.style.color = "var(--text-foreground)";
    }
  }
  (() => {
    let currentTheme = document.documentElement.getAttribute("data-theme");
    let defaultTheme = "";
    if (
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
      defaultTheme = "dark";
    } else {
      defaultTheme = "light";
    }
    if (
      !currentTheme ||
      (currentTheme !== "dark" && currentTheme !== "light")
    ) {
      currentTheme = defaultTheme;
    }
    showCorrectIcon(currentTheme);
  })();
  const button = document.getElementById("theme-toggle");
  if (button) {
    button.addEventListener("click", toggleTheme);
    function toggleTheme() {
      let currentTheme = document.documentElement.getAttribute("data-theme");
      let defaultTheme = "light";
      if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        defaultTheme = "dark";
      } else {
        defaultTheme = "light";
      }
      let newTheme = "light";
      if (currentTheme) {
        if (currentTheme !== "dark" && currentTheme !== "light") {
          localStorage.setItem("theme", defaultTheme);
          document.documentElement.setAttribute("data-theme", defaultTheme);
          showCorrectIcon(defaultTheme);
        } else {
          newTheme = currentTheme === "dark" ? "light" : "dark";
          localStorage.setItem("theme", newTheme);
          document.documentElement.setAttribute("data-theme", newTheme);
          showCorrectIcon(newTheme);
        }
      } else {
        localStorage.setItem("theme", defaultTheme);
        document.documentElement.setAttribute("data-theme", defaultTheme);
        showCorrectIcon(defaultTheme);
      }
    }
  }
</script>
